<div class="container"> 
  <div class="ui-g">

    <div class="ui-g-12">
      <h1>Lançamentos</h1>
    </div>

    <div class="ui-g-12">
      <label style="display: block;">Descrição</label>
      <input type="text" class="p-inputtext-sm" pInputText style="width: 100%"/>
    </div>

    <div class="ui-g-12" style="padding-top: 10px;">
      <label style="display: block;">Vencimento</label>
      <input type="text" class="p-inputtext-sm" pInputText style="width: 95px;"/>
      <label>até</label>
      <input type="text" class="p-inputtext-sm" pInputText style="width: 95px;"/>
    </div>

    <div class="ui-g-12" style="padding-top: 20px;">
      <button pButton type="button">Pesquisar</button>
    </div>

    <!-- Tabela de dados -->
    <div class="ui-g" style="padding-top: 50px;">
      <div class="ui-g-12">

        <p-table [value]="funcionarios"> 
          <ng-template pTemplate="header">
            <tr>
              <th style="text-align: center;">Pessoa</th>
              <th style="text-align: center;">Descrição</th>
              <th style="text-align: center;">Valor</th>
              <th style="text-align: center;">Tipo</th>
              <th style="text-align: center;">Data de Pagamento</th>
              <th style="text-align: center;">Data de Vencimento</th>
              <th style="text-align: center ; width: 120px;">Ações</th>
            </tr>
          </ng-template>
          
          <!-- Em vez de fazer o **ngFor="let func of funcionarios"
              na tag tr, o novo primeng tem a propriedade let- usada na tag ng-template 
              que permite criar o mesmo efeito do *ngFor, bastando depois
              do traço indicar o nome da variável.
              Ex.: let-func
          -->
          <ng-template pTemplate="body" let-func>
            <tr>
              <td >{{func.pessoa}}</td>
              <td >{{func.descricao}}</td>
              <td style="width: 120px; text-align: center;">
                <span [ngStyle]=" {color: func.tipo === 'DESPESA' ? 'red' : 'blue'} ">{{func.valor}}</span>
              </td>
              <td >{{func.tipo}}</td>
              <td class="col-data" style="width: 120px; text-align: center;">{{func?.dataPagamento}}</td>
              <td styleClass="col-data" style="width: 120px; text-align: center;">{{func.dataVencimento}}</td>
              <td style="text-align: center;" >
                <a  style="width: 30px;" class="pi pi-pencil"></a>
                <a  style="width: 30px;" class="pi pi-trash"></a>
              </td>
            </tr>
            
          </ng-template>
        </p-table>
      </div>
    </div>

    <div class="ui-g-12" style="padding-top: 20px;">
      <button pButton type="button">Inserir Registro</button>
    </div>

  </div>
</div>