/* You can add global styles to this file, and also import other style files */
body{
    font-family: Arial, Helvetica, sans-serif;
    color: #33383d;
    margin: 0;
}

label{
   font-weight: bold;
}


/* Criando a classe com formatação da coluna */
.col-valor{
    width: 120px;
    text-align: right;
}

.col-data{
    width: 120px;
    text-align: center;
}

/* Para centralizar a tela, criei uma CLASSE
    container que tera a margem (cima e baixo) = 0 e 
    esquerda-direita auto (calculada pelo navegador).
    Também defini um tamanho fixo para a tela, para
    que quando a tela fique muito grande, o container 
    fique centralizado.

    ******* @media ******
    Mas para que o campo de descrição não "vaze" do tamanho
    da tela e que apareça a barra de rolagem, eu usei o mediaQuery
    que é uma condicional.
    Se a regra do @media for true, o que houver dentro será aplicado.
*/
@media(min-width: 1200px){
    .container{
        width: 1170px;
        margin: 0 auto;
    }
}